<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientId</key>
	<string>2IcHyZtJl0Qxhz2fWs5JVp9rd1owYAcZ</string>
	<key>Domain</key>
	<string>login.horizonauto.com</string>
</dict>
</plist>
